.box1 {
      border: 2px solid red;
      width: 100px;
      height: 100px;
    }

    .box2 {
      border: 4px dashed green;
      width: 100px;
      height: 100px;
    }

    .box3 {
      border: 3px dotted blue;
      width: 100px;
      height: 100px;
    }

    .box4 {
      border: 5px double purple;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }