body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .box {
      background: lightcoral;
      padding: 40px;
      color:bisque;
      font-size: 1.5rem;
      border-radius: 8px;
    }