.dancing-emoji {
  font-size: 80px;
  display: inline-block;
  animation: dance 1s infinite alternate ease-in-out;
}

@keyframes dance {
  0% {
    transform: rotate(-20deg) scale(1);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  100% {
    transform: rotate(-20deg) scale(1);
  }
}
